.navbar .btn-outline-light:hover {
    color: var(--bs-dark)
}

.header {
    background-color: rgb(17, 17, 136);
    background: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}